In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_data=pd.read_csv("train (1).csv")

In [3]:
test_data=pd.read_csv("test.csv")

In [4]:
train_data.shape,test_data.shape

((891, 12), (418, 11))

In [5]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
train_data["Age"].fillna(np.mean(train_data["Age"]),inplace=True)

In [8]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
train_data.drop(columns=["Cabin"],inplace=True)

In [10]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [11]:
train_data.fillna("S",inplace=True)

In [12]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [13]:
noneed=["PassengerId",'Name','Ticket','Survived']

In [14]:
train_data.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [15]:
Y=train_data["Survived"]

In [16]:
X=train_data.drop(columns=noneed,inplace=True)

In [17]:
train_data.drop(columns=["Fare","SibSp"],inplace=True)

In [18]:
train_data["Age"]=train_data["Age"].astype(int)
train_data.drop(columns=["Parch"],inplace=True)
train_data

     Pclass  Sex  Age  Embarked
0         3    0   22         0
1         1    1   38         1
2         3    1   26         0
3         1    1   35         0
4         3    0   35         0
..      ...  ...  ...       ...
886       2    0   27         0
887       1    1   19         0
888       3    1   29         0
889       1    0   26         1
890       3    0   32         2

[891 rows x 4 columns]

In [19]:
from sklearn.model_selection import train_test_split

# Now you can use train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(train_data, Y, test_size=0.2, random_state=2)

In [20]:
X_train.shape,Y_train.shape,X_test.shape,Y_test.shape

((712, 4), (712,), (179, 4), (179,))

In [21]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [22]:
model.fit(X_train,Y_train)

LogisticRegression()

In [23]:
X_train_pre=model.predict(X_train)

In [24]:
from sklearn.metrics import accuracy_score

train_acc=accuracy_score(Y_train,X_train_pre)

In [25]:
train_acc

0.8061797752808989

In [26]:
x_test_pre=model.predict(X_test)

In [27]:
x_test_acc=accuracy_score(Y_test,x_test_pre)

In [28]:
x_test_acc

0.776536312849162

In [29]:
input_data=(3,0,50,1)
### pclass,sex,age,embarked ###

In [30]:
 inp_arr = np.asarray(input_data)

In [31]:
inp_arr

array([ 3,  0, 50,  1])

In [32]:
inp_re=inp_arr.reshape(1,-1)
inp_re

array([[ 3,  0, 50,  1]])

In [33]:
pre=model.predict(inp_re)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [34]:
print(pre)

[0]

In [35]:
if pre[0]==0:
    print("YOU WOULD HAVE DIED")
else:
    print("YOU WOULD'NT HAVE DIED")

YOU WOULD HAVE DIED