# Importing necessary modules

In [77]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Importing the datasets

In [2]:
train_data=pd.read_csv("train (1).csv")

In [3]:
test_data=pd.read_csv("test.csv")

In [4]:
train_copy=train_data.copy()

In [5]:
test_copy=test_data.copy()

In [6]:
train_data.shape,test_data.shape

((891, 12), (418, 11))

# Data Cleaning

In [7]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
train_data["Age"].fillna(np.mean(train_data["Age"]),inplace=True)

In [10]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
train_data.drop(columns=["Cabin"],inplace=True)

In [12]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [13]:
want=train_data[train_data["Embarked"]!="SCQ"]

In [14]:
want.shape

(891, 11)

In [15]:
train_data.shape

(891, 11)

In [16]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [17]:
train_data.fillna(train_data["Embarked"].mode(),inplace=True)

In [18]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [19]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [20]:
noneed=["PassengerId",'Name','Ticket','Survived']

In [21]:
train_data["Embarked"].mode()

0    S
Name: Embarked, dtype: object

In [22]:
train_data.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [23]:
train_data.shape

(891, 11)

In [24]:
Y=train_data["Survived"]

In [25]:
X=train_data.drop(columns=noneed,inplace=True)

In [26]:
train_data.shape

(891, 7)

In [27]:
train_data.head(3)

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500       0.0
1       1    1  38.0      1      0  71.2833       1.0
2       3    1  26.0      0      0   7.9250       0.0

In [28]:
train_data.drop(columns=["Fare"],inplace=True)

In [29]:
train_data["Age"]=train_data["Age"].astype(int)

In [30]:
train_data.drop(columns=["SibSp"],inplace=True)

In [31]:
###   details needed class number,sex,age,embarked ###

In [32]:
train_data.shape,Y.shape

((891, 5), (891,))

# Splitting the Train and test datasets

In [45]:
# Now you can use train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(train_data, Y, test_size=0.2, random_state=2)

In [46]:
X_train.shape,Y_train.shape,X_test.shape,Y_test.shape

((712, 5), (712,), (179, 5), (179,))

In [47]:
X_train

     Pclass  Sex  Age  Parch  Embarked
30        1    0   40      0       1.0
10        3    1    4      1       0.0
873       3    0   47      0       0.0
182       3    0    9      2       0.0
876       3    0   20      0       0.0
..      ...  ...  ...    ...       ...
534       3    1   30      0       0.0
584       3    0   29      0       1.0
493       1    0   71      0       1.0
527       1    0   29      0       0.0
168       1    0   29      0       0.0

[712 rows x 5 columns]

In [50]:
X_train.fillna(X_train["Embarked"].mean(),inplace=True)

In [67]:
X_train

     Pclass  Sex  Age  Parch  Embarked
30        1    0   40      0       1.0
10        3    1    4      1       0.0
873       3    0   47      0       0.0
182       3    0    9      2       0.0
876       3    0   20      0       0.0
..      ...  ...  ...    ...       ...
534       3    1   30      0       0.0
584       3    0   29      0       1.0
493       1    0   71      0       1.0
527       1    0   29      0       0.0
168       1    0   29      0       0.0

[712 rows x 5 columns]

In [51]:
model=LogisticRegression()

In [52]:
model.fit(X_train,Y_train)

LogisticRegression()

In [53]:
X_train_pre=model.predict(X_train)

In [54]:
from sklearn.metrics import accuracy_score

train_acc=accuracy_score(Y_train,X_train_pre)

In [55]:
train_acc

0.8047752808988764

In [56]:
x_test_pre=model.predict(X_test)

In [78]:
x_test_acc=accuracy_score(Y_test,x_test_pre)

In [80]:
x_test_acc

0.7877094972067039

# Accuracy: 78.77094972067039

In [68]:
input_data=(3,0,50,1,0)

In [69]:
inp_arr = np.asarray(input_data)

In [70]:
inp_arr

array([ 3,  0, 50,  1,  0])

In [71]:
inp_re=inp_arr.reshape(1,-1)

In [72]:
inp_re

array([[ 3,  0, 50,  1,  0]])

In [73]:
pre=model.predict(inp_re)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [74]:
print(pre)

[0]

In [75]:
if pre[0]==0:
    print("YOU WOULD HAVE DIED")
else:
    print("YOU WOULD'NT HAVE DIED")

YOU WOULD HAVE DIED

In [76]:
"YOU WOULD HAVE DIED"

'YOU WOULD HAVE DIED'